@model BarModel;
@{

    ViewData["Title"] = "Welcome!";
 
}

<style>
    * {
        box-sizing: border-box;
        font-family: 'Mulish', sans-serif;
    }

    #hotels-container {
        display: grid;
        gap: 30px;
        margin-top: 30px;
    }

        #hotels-container[data-view='grid'] {
            grid-template-columns: 1fr 1fr;
        }

        #hotels-container .hotel {
            width: 100%;
            height: 150px;
            display: flex;
            background-color: rgba(255,255,255,.5);
            box-shadow: 0 0 30px rgba(0,0,0,.2);
            border-radius: 5px;
            padding: 20px;
            gap: 30px;
            align-items: center;
        }

        #hotels-container[data-view='grid'] .hotel {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            height: auto;
        }

        #hotels-container .hotel .hotel-image {
            height: 100%;
            width: 170px;
            object-fit: cover;
        }

        #hotels-container[data-view='grid'] .hotel .hotel-image {
            height: 300px;
            width: 100%;
        }

        #hotels-container .hotel .details {
            height: 100%;
        }

            #hotels-container .hotel .details p {
                margin: 0;
                padding: 0;
            }

        #hotels-container .hotel .offers-btn {
            margin-left: auto;
        }

        #hotels-container[data-view='grid'] .hotel .offers-btn {
            margin-left: unset;
        }

    .tick {
        width: 25px;
        height: 10pmax-content;
        
    }

    .col-12{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .btn-warning1{
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
    }

        .btn-warning1:hover {
            background-color: #0d6efd;
            border-color: #0d6efd;
        }

    .btn-primary1{
        color: #000;
        background-color: #d3d3d3;
        border-color: #d3d3d3;
    }

        .btn-primary1:hover{
            color: #fff;
            background-color: #0d6efd;
            border-color: #0d6efd;
        }
</style>


@if (Model != null)
{
    <div class="row">
        <div class="row justify-content-end">
            <div class="col-2 d-flex justify-content-center align-items-center gap-1">
                <label>Изглед:</label>
                <button id="list-view-btn" class="btn btn-primary" disabled onclick="setHotelsView('list')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-view-list" viewBox="0 0 16 16">
                        <path d="M3 4.5h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2m0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zM1 2a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 2m0 12a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 14" />
                    </svg>
                </button>
                <button id="grid-view-btn" class="btn btn-primary" onclick="setHotelsView('grid')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16">
                        <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="col-12">
            <div id="hotels-container" data-view="list">
                @foreach (var item in Model.Bars)
                {
                    <div class="hotel">
                       
                        <img src="~/Images/@item.Image" alt="image" class="hotel-image">
                        <div class="details">
                            <h5 class="fw-bold">@item.Name</h5>
                            <p>@item.Description</p>
                        </div>
                    </div>
                    <div class="offers-btn">
                        <form asp-controller="Review" asp-action="Create" method="post">
                            <input type="hidden" name="barId" value="@item.BarId" />
                            <input type="hidden" name="userId" value="@Model.UserId" />
                            <div>
                                <label for="text">Text:</label>
                                <input type="text" id="text" name="text" />
                            </div>
                            <div>
                                <label for="rating">Rating:</label>
                                <input type="number" id="rating" name="rating" />
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Публикувай ревю</button>
                        </form>
                        <form asp-action="ViewAllReviews" asp-controller="Review">
                            <input type="hidden" name="barId" value="@item.BarId" />
                            <input type="hidden" name="userId" value="@Model.UserId" />
                            <button type="submit" class="btn btn-primary">Виж всички ревюта</button>
                        </form>
                    </div>
                    <div>

                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-8 d-flex justify-content-center gap-1">
            @for (int i = 1; i <= ViewBag.Pages; i++)
            {
                <form asp-controller="Bar" asp-action="Index" method="post">
                    <input type="hidden" name="page" value="@i" />
                    <button type="submit" class="btn @(ViewBag.CurrentPage == i ? "btn-warning1" : "btn-primary1")">@i</button>
                </form>
            }
        </div>
    </div>
}
else
{
    <p class="text-center">No bars found.</p>
}

<script>
    const listViewBtn = document.getElementById('list-view-btn');
    const gridViewBtn = document.getElementById('grid-view-btn');
    const hotelsContainer = document.getElementById('hotels-container');
    const currentView = sessionStorage.getItem('hotels-view') || 'list';

    function setHotelsView(view) {
        if (view === 'list') {
            listViewBtn.setAttribute('disabled', '');
            gridViewBtn.removeAttribute('disabled');
            hotelsContainer.setAttribute('data-view', 'list');
            sessionStorage.setItem('hotels-view', 'list');
        } else {
            gridViewBtn.setAttribute('disabled', '');
            listViewBtn.removeAttribute('disabled');
            hotelsContainer.setAttribute('data-view', 'grid');
            sessionStorage.setItem('hotels-view', 'grid');
        }
    }

    setHotelsView(currentView);
</script>